button {
    width: 448px;
    height: 50px;

    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--green);
    color: var(--dark);
    font-size: 24px;
    cursor: pointer;

    overflow-y: hidden;
    max-height: 40%;
}

button:hover {
    background-color: var(--darkgreen);
}

button:active {
    transform: translateY(4px);
}
