button {
    width: 448px;
    height: 50px;
    max-height: 50%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--green);
    color: var(--dark);
    font-size: 24px;
    margin-top: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--darkgreen);
}

button:active {
    transform: translateY(4px);
}
