.display-facts {
    display: flex;
    background-color: var(--gray);
    width: 100%;
}

.display-left {
    flex: 1;
    width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.country-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* start right container */

.display-right {
    flex: 1;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-direction: column;

}

/* know container  */
.know-container {
    display: flex;
    flex-direction: column;
    height: 50%;

    
}




.wrap-know-container{

/* background-color: bisque;
align-items: center;
justify-content: center; */

column-count: 2;
    padding-left: 20px;
}

/* learn container */

/* .learn-container{
    display: flex;
 
} */

.wrap-learn-container{
    /* background-color: blue; */
    column-count: 2;
        padding-left: 20px;
}


