.display-facts {
    display: flex;
    background-color: var(--gray);
    width: 100%;
}

.display-right {
    flex: 1;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
}

.display-left {
    flex: 1;
    width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.country-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 69px;
    height: 78px;
}
