.selector {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.selector-container {
    position: relative;
    color: var(--dark);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------ image background style ------------- */
.selector-background-image {
    width: 100vw;
    height: 600px;
    opacity: 0.6;
}

/* ------------ text style ------------- */
.description-container {
    position: absolute;
    z-index: 100;
}
.selector-description1 {
    font-size: 48px;
    font-weight: 600;
}

.selector-description2 {
    font-size: 36px;
    font-weight: 300;
}

.selector-description3 {
    font-size: 36px;
    font-weight: 600;
}

/* button style */

FindHoliday {
    padding-top: 2rem;
}
