.info-property {
    margin: 15px;
    font-weight: bold;
    border-radius: 40px;
}
.info-value {
    display: inline-block;
    margin: 15px;
    font-weight: normal;
}

img {
    border-radius: 5px;
    height: 48px;
    width: 68px;
}

.infos {
}
