.info-property {
  
    font-weight: bold;
    border-radius: 40px;
    padding: 10px;
    color: grey;
}
.info-value {  
    display: flex;
    font-weight: bold;
    padding: 10px;
}

img {
    border-radius: 5px;
    height: 48px;
    width: 68px;
}

.infos {
}

