.full-header {
    background-color: #faf9f9;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.wrap-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.full-header-title {
    color: #616161;
    font-size: 16px;
}

.full-header-icon {
    color: #616161;
    font-size: 64px;
}
