.full-header {
    background-color: #faf9f9;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    z-index: 200;

    box-shadow: -5px 23px 69px -26px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: -5px 23px 69px -26px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -5px 23px 69px -26px rgba(0, 0, 0, 0.71);
}

.wrap-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.full-header-title {
    color: var(--dark);
    font-size: 16px;
}

.full-header-icon {
    color: var(--green);
    font-size: 64px;
}
